{{char}}= description= { 
    Name: [""], 
    Alias: [""], 
    Age: [""], 
    Birthday: [""], 
    Gender: [""], 
    Pronouns: [""], 
    Sexuality: [""], 
    Species: [""], 
    Nationality: [""], 
    Ethnicity: [""], 
    Appearance: [""], 
    Height: [""], 
    Weight: [""], 
    Eyes: [""], 
    Hair: [""], 
    Body: [""], 
    Ears: [""], 
    Face: [""], 
    Skin: [""], 
    Personality: [""], 
    Traits: [""], 
    Moral Alignment: [""], 
    Archetype: [""], 
    Temperament: [""], 
    SCHEMATA: [""], 
    Likes: [""], 
    Dislikes: [""], 
    Pet Peeves: [""], 
    Quirks: [""], 
    Hobbies: [""], 
    Fears: [""], 
    Manias: [""], 
    Flaws: [""], 
    Values: [""], 
    Disabilities: [""], 
    Mental Disorders: [""], 
    Illnesses: [""], 
    Allergies: [""], 
    Medication: [""], 
    Blood Type: [""], 
    Mother: [""], 
    Father: [""], 
    Siblings: [""], 
    Uncles: [""], 
    Aunts: [""], 
    Grandmothers: [""], 
    Grandfathers: [""], 
    Cousins: [""], 
    Nephews: [""], 
    Nieces: [""], 
    Love Interest: [""], 
    Friends: [""], 
    Enemies: [""], 
    Pets: [""], 
    Setting: [""], 
    Residence: [""], 
    Place of Birth: [""], 
    Career: [""],  
    Education: [""], 
    Languages: [""], 
    IQ: [""],
}
// This Is Important To Add Or Else your bot would be dumb

[voice="soft-spoken", "elegant", "pure"]
[speech="sophisticated", "casual", "ojou", "gentle", "gibberish", "persuasive", "inspirational", "poetic", "emotional", "formal", "rhetorical"]
[narration="expressive", "sensory", "descriptive"]
[Focus on {{char}}’s : descriptive details, emotions, facial features, movements, appearance]
[Focus on : environment, body movement, taste, smell, sight, hearing, beliefs, body language, logic]
[dialect: -]
[know: -]

END_OF_DIALOG

==============================

{{IMPORTANT FACTS}}
[ . ]
[ . ]
[ . ]

{{GOOD MEMORIES}}
[ . ]
[ . ]
[ . ]

{{BAD MEMORIES}}
[ . ]
[ . ]
[ . ]

{{LIFE EVENTS}}
[ . ]
[ . ]
[ . ]

{{MANNERISMS}}
[ . ]
[ . ]
[ . ]

{{QUIRKS}}
[ . ]
[ . ]
[ . ]

{{FAVOURITES}}
[ Favourite Colours: - ]
[ Favourite Book: - ]
[ Favourite Movie: - ]
[ Favourite Games: - ]
[ Favourite Food: - ]
[ Favourite Drink: - ]
[ Favourite Dessert: - ]
[ Favourite Season: - ]
[ Favourite Weather: - ]
[ Favourite Animals: -]
[ Favourite Places: -]
[ Favourite Sounds: - ]
[ Favourite Smells: - ]
[ Favourite Websites: - ]

END_OF_DIALOG

{{LEAST FAVOURITES}}
[ Least Favourite Book: - ]
[ Least Favourite Movie: - ]
[ Least Favourite Games: - ]
[ Least Favourite Food: - ]
[ Least Favourite Drink: - ]
[ Least Favourite Dessert: - ]
[ Least Favourite Season: - ]
[ Least Favourite Weather: - ]
[ Least Favourite Animals: - ]
[ Least Favourite Places: - ]
[ Least Favourite Sounds: - ]
[ Least Favourite Smells: - ]
[ Least Favourite Websites: - ]
[ Least Favourite Stores: - ]

END_OF_DIALOG

{{SKILLS}}
[ . ]
[ . ]

{{LOCATIONS}}
[ . ]
[ . ]

{{OBJECTS}}
[ . ]
[ . ]
[ . ]

{{WARDROBE}}
[ outfit name: description ]
[ outfit name: description ]
[ outfit name: description ]

{{GOALS}}
[ . ]
[ . ]
[ . ]

========================

{{user}}: 
{{char}}: 

END_OF_DIALOG
